.title, .subtitle {
    text-align: center;
    margin-top: 10px;
}

#post {
    position: fixed;
    left: 99%;
    top: 99%;
    transform: translate(-100%, -100%);
}

#editor {
	border-color: var(--bulma-dark);
	border-style: solid;
	border-radius: 10px;
    margin: 10px;
}

#articleTitle {
    width: 70vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#container {
    width: 100%;
}

svg {
    margin-right: 5px;
}